<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://barutoma.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>barutoma.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>barutoma</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>adminTom</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User ID=adminTom@fcg2uae2q5;Password=Barutomahesl0!" Name="Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User Id=adminTom@fcg2uae2q5;Password=Barutomahesl0!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BarUTomaModels.Models.ApplicationDbContext, BarUTomaModels" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BarContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User ID=adminTom@fcg2uae2q5;Password=Barutomahesl0!" Name="Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User Id=adminTom@fcg2uae2q5;Password=Barutomahesl0!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BarUTomaREST.Models.BarContext, BarUTomaREST" MigrationConfiguration="BarUTomaREST.Migrations.Configuration, BarUTomaREST" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User ID=adminTom@fcg2uae2q5;Password=Barutomahesl0!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BarUTomaREST.Models.AuthContext, BarUTomaREST" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User ID=adminTom@fcg2uae2q5;Password=Barutomahesl0!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BarContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User Id=adminTom@fcg2uae2q5;Password=Barutomahesl0!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fcg2uae2q5.database.windows.net,1433;Initial Catalog=barutoma_db;User Id=adminTom@fcg2uae2q5;Password=Barutomahesl0!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>